html {position: relative; min-height: 100%; margin-top: -22px;}

body {margin-bottom: 100px; height: 100%;}

p {font-family: sans-serif;}

h1 {font-family: "Trajan-pro", sans-serif;}

.wrapper { height: 100%;}

header { width:100%; background-image: url("img/header.jpg");}

    header ul {padding-left: 0;text-align: center;}
      header li {display: inline;}

    header h1 {margin-bottom: -20px;}

      header h1 a { 
        position:relative;
        display: block;
        width: 150px;
        height: 100px;
      }

    header span {
      background-image: url("img/tjunalogo.jpg");
      background-repeat: no-repeat;
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      z-index:100;
      text-indent:-300px;
    }

nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
  nav li { border-left: 1px solid #ccc; }
  nav li:last-child { border-right: 1px solid #ccc;}
    nav li a {
      display: inline;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      }
    nav li a:hover { color: orange; background-color: #fff; }

.content {
  width: 80%;
  float: left;
  display: block;
}
  .content p {padding-right: 20px;}

.sidebar { width: 20%; float: left;}
  .sidebar ul li{ list-style: decimal;}

.content2 {
    border-top: 1px solid #ccc;
    clear:both;
    margin-bottom: 200px;
    padding-right: 20px;
}

footer {
width:100%;
background-color: #000000;
overflow: hidden;
text-align: center;
margin-top: -150px;
clear:both;
position: absolute;
left: 0;
bottom: 0;
height: auto;
color: #FFFFFF;
}

  footer ul {padding: 0; list-style: none;}
  footer a {color: orange;}
        .one {float: left; width: 33%;}
        .two {float: right; width: 33%;}
        .three{display: inline-block; width: 33%;}

@media screen and (max-width: 720px) {
  .content {
    width: 95%;
  }
  .sidebar {
    width: 120px;
    float: left;
  }
  .one {
    width: 240px;
  }
  .two {
    width: 240px;
    float: left;
  }
  .three {
    width: 240px;
    float: left;
  }
  .content2 {
    margin-bottom: 450px;
  }
}  

@media screen and (max-width: 480px) {
  nav li {border-left: 0px;}
  nav li:last-child { border-right: 0px;}
    nav li a {display: block;}  
}